@import "tailwindcss";

body {
  background: bg-slate-100;
  color: white;
}

.custom-btn {
  @apply w-full h-[40px] 
    text-white bg-gradient-to-r 
    from-[#3b82f6] via-[#2563eb] to-[#1d4ed8] py-2 px-5 text-[10px] 
      font-medium rounded-lg flex items-center justify-center shadow-[0_4px_6px_rgba(37,99,235,0.5)] 
      marker:transition-all duration-300 focus:outline-none;

  @apply sm:w-[115px] sm:h-[42px] sm:text-[10px]; 
}

.custom-button-back {
  @apply px-5 py-1 text-[0.875rem] font-medium text-[#1f2937] bg-white rounded-full border border-[#e5e7eb] inline-flex items-center justify-center cursor-pointer transition-all duration-300 ease-in-out mr-2.5 mb-2.5;
}

.p-datatable table {
  table-layout: fixed !important;
}

.custom-table {
    font-size: 12px; 
}

.custom-table .p-datatable-header {
    padding: 6px;
}

.custom-table tr {
    height: 15px;
    padding: -4; 
}

.custom-table td {
    padding: 0;
    padding-left: 10px;
}
.custom-table th {
    padding: 0;
    padding-left: 10px;
}

.custom-table .p-sortable-column-icon {
    font-size: 10px !important;
    width: 14px;
    height: 14px;
}

.custom-table .p-datatable-thead > tr {
    height: 18px;
}

.input_search_table {
    /* height: 30px;
    width: 200px; */
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 11px;
    background: white;
    color: #595959;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
}

.button_accion_table {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #090909;
    padding: 1em;  
    font-size: 10px;
    border-radius: 50%;  
    background: white;  
    cursor: pointer;
    border: 1px solid rgba(232, 232, 232, 0.5);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px rgba(197, 197, 197, 0.5), -6px -6px 12px rgba(255, 255, 255, 0.5);  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    width: 4em;  
    height: 4em;  
}